<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div class="header" th:fragment="bodyHeader">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:src="@{/js/app/freeposts/update.js}"></script>
    <script th:src="@{/js/app/freeposts/delete.js}"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">  &nbsp Coin traiding</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only"> </span></a>
                </li>
                <li class="nav-item active">
                    <a sec:authorize="isAuthenticated()" class="nav-link"  >반갑습니다. <span sec:authentication="name"></span>님!</a>
                </li>
                <hr>
                <li class="nav-item active">
                    <a sec:authorize="isAnonymous()" class="nav-link" href="/members/login">로그인 <span class="sr-only"> </span></a>
<!--                    <a sec:authorize="isAnonymous()" th:href="@{/members/login}">로그인</a>-->
                </li>
                <li class="nav-item active">
                    <a sec:authorize="isAuthenticated()" class="nav-link" href="/members/logout">로그아웃 <span class="sr-only"> </span></a>
<!--                    <a sec:authorize="isAuthenticated()" th:href="@{/members/logout}">로그아웃</a>-->
                </li>
                <li class="nav-item active">
                    <a sec:authorize="isAnonymous()" class="nav-link" href="/members/signup">회원가입 <span class="sr-only"> </span></a>
<!--                    <a sec:authorize="isAnonymous()" th:href="@{/members/signup}">회원가입</a>-->
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/bank/"> <span class="sr-only">입출금 </span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/freeposts"> <span class="sr-only"> 자유게시판 </span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/exchange/KRW-BTC"> <span class="sr-only"> 거래소 </span></a>
                </li>

            </ul>

        </div>
    </nav>
</div>