<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <h1> 코인 동향</h1>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Logo</th>
                <th>#</th>
                <th>Coin Name</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="coin : ${coins}">
                <td><img src="../static/img/ "width="100"
                         th:src="@{'/img/'+ ${coin.icon_url}}"/></td>
                <td th:text="${coin.id}"></td>
                <td th:text="${coin.name}"></td>
                <td th:text="${coin.price}"></td>
                <td>
                    <a href="#" th:href="@{/coins/{id}/edit (id=${coin.id})}"
                       class="btn btn-primary" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>

