<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <h1 th:text="${name}"+ 님> </h1>
    <p th:text="보유금액+${money}+KRW"> </p>

    <form method="get" action="/bank/deposit">
        <div class="form-group">
            <label>입금금액(KRW)</label>
            <input type="number" name="krw" id="krw" class="form-control"
                   placeholder="최소 5000 KRW">
        </div>
        <button type="submit" name="submit" value="value" class="link-button">입금신청</button>
    </form>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>

