<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <h1 th:text="${name}"+ 님> </h1>
    <p th:text="보유금액+${money}+KRW"> </p>

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/bank/list">입출금내역</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/bank" >입출금하기</a>
        </li>
    </ul>

    <h1>입출금 내역</h1>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>상태</th>
                <th>금액</th>
                <th>회원명</th>
                <th>거래 시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.status}"></td>
                <td th:text="${transaction.transferAmount}"></td>
                <td th:text="${name}"></td>
                <td th:text="${#temporals.format(transaction.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>

