<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <h1> 자유 게시판</h1>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성자</th>
                <th>수정시간</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.content}"></td>
                <td th:text="${post.author}"></td>
                <td th:text="${#calendars.setFormat(post.modifiedDate,'dd/MMM/yyyy HH:mm')}"></td>
                <td>
                    <a href="#" th:href="@{/freeposts/update/{id} (id=${post.id})}"
                       class="btn btn-primary" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary" href="/freeposts/save" role="button">글 등록</a>


    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>

